@media (min-width: 500px) {
    body {
     background: purple;
     color: aliceblue;
     
    }
    .name{
        height: 10%;

    }
    .content{
        padding-top:10%;
        align-self: center;
    }
   }

   @media (max-width: 500px) {
    body {
     background: thistle;
     color: black;

    }
    .name{
        height: 10px;

    }
    .content{
        padding-top:50px;
        align-self: center;
    }
   }